{% extends 'base.html' %}
{% block content %}
{% include 'snippets/header.html' %}
<style type="text/css">
	.my-grid{
		border: 1px solid black;
	}
	.my-grid-item{
		border: 1px solid blue;
	}
	select{
		width: 100%;
	}
	option{
		font-size: 2rem;
	}
	h1{
		font-size: 2rem;
	}
	.blue__color a{
		color: rgb(12, 12, 219);
		font-size: 1.5rem;
	}
</style>

<!-- Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->
	<div class=" justify-content-center">
		<!-- <div class="card card-signin"> -->
		  <!-- <div class="card-body"> -->
		   {% if teacher_course %}
		   <h1 class="text-center bg-primary text-white"> YOUR COURSES TOUGHT </h1>
		   {% for course in teacher_course %}
		   <div class="d-flex justify-content-around blue__color">
			 
			<!-- <a href="/polls/{{ question.id }}/"> -->
			<div><a href="/my-courses/{{course.id}}/1"><span>CONTINUOS ASSESMENT</span> <span>{{course.name}}</span></a></div>
			<div><a href="/my-courses/{{course.id}}/2"><span>EXAMS</span> <span>{{course.name}}</span></a></div>
			<div><a href="/my-courses/{{course.id}}/3"><span>RESIT</span> <span>{{course.name}}</span></a></div>
		   </div>
		   
		   {%endfor%}
		   {%endif%}

</div>
{% endblock content %}