{% extends 'base.html' %}
{% block content %}
{% include 'snippets/login_logout.html' %}

<style type="text/css">

  .card-signin {
	  width: 100%;
	  max-width: 400px;
	  padding: 15px;
	  margin: auto;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .email__font__weight{
	  font-weight: 900;
  }
.email__padding {
	padding-left: 20px;
}
</style>

<div class="container-fluid mt-5">
	<div class="row justify-content-center">
		<div class="card card-signin">
		    <form class="form-signin"action="{% url 'login' %}" method="post">{% csrf_token %}
				<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

				<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

				{% for field in login_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if login_form.non_field_errors %}
				<div style="color: red">
				<p>{{login_form.non_field_errors}}</p>
				</div>

				{% endif %}

				<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
				</form>

				<div class="d-flex flex-column my-4">
					<a class="m-auto" href="#">Reset password</a>
				</div>
		</div>
		
	</div>
</div>
<div class="text-center mt-2"><button class="border btn-info text-center click__me " id="click-me">click me</button></div>
<div id="info" class="d-none">
	<h2 class="text-danger text-center">Reset password not yet implemented</h2>
<h3 class="text-center text-success">To login as staff use use one of the following credentails</h3>
<div class="d-flex justify-content-center">
	<div>
		<span class=" text-primary email__font__weight">	email: </span> <span>zenabs@ubuea.cm</span>
		</div>
		<div><span class="text-primary email__font__weight email__padding">password:</span> <span>testuser/2022</span></div>
</div>
<div class="d-flex justify-content-center">
	<div>
		<span class="text-primary email__font__weight">	email: </span> <span>mawoh@ubuea.cm</span>
		</div>
		<div><span class="text-primary email__font__weight email__padding">password:</span> <span>testuser/2022</span></div>
</div>
<h3 class="text-center text-success">To login as student use use one of the following credentails</h3>
<div class="d-flex justify-content-center">
	<div>
		<span class="text-primary email__font__weight">	email: </span> <span>itoe@ubuea.cm</span>
		</div>
		<div><span class="text-primary email__font__weight email__padding">password:</span> <span>testuser/2022</span></div>
</div>
<div class="d-flex justify-content-center">
	<div>
		<span class="text-primary email__font__weight">	email: </span> <span>fep@ubuea.cm</span>
		</div>
		<div><span class="text-primary email__font__weight email__padding">password:</span> <span>testuser/2022</span></div>
</div>
<h3 class="text-center text-success">To register a new account as a student use of the following email</h3>
<div class="text-center">
	<div>
		<span class="text-primary email__font__weight">	email: </span> <span>testone@ubuea.cm</span>
	</div>
	<div>
		<span class="text-primary email__font__weight">	email: </span> <span>testtwo@ubuea.cm</span>
	</div>
</div>
</div>
<script>
	const clickMe = document.getElementById("click-me");
	const info = document.getElementById("info");
	clickMe.addEventListener("click", ()=>{
		info.classList.remove('d-none');
	})
</script>
{% endblock content %}
